 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= page%> </title>
    <link rel="stylesheet" href="/css/home.css" />
</head>
<body>
    <div class="header">
        <%= page%>
        <nav>
            <li ><a class="active" href="/" >Home</a></li>
            <li><a href="/admin/movie" >Contact</a></li>
            <li><a href="/admin/login" >Login</a></li>
        </nav>
    </div>

        
        <% for(let i=0;i<movies.length;i++) { %>
        <div class="movie-card">
            <h2><%=movies[i].title%> <%= movies[i].id %></h2>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9SRRmhH4X5N2e4QalcoxVbzYsD44C-sQv-w&s" alt="photo">
            <div class="movie-details">
              <span class="rating"><%= movies[i].rating %></span>
              <span class="genre"><%= movies[i].tags %></span>
            </div>
            <p class="description"><%= movies[i].desc %></p>
            <!-- TODO add a delte id  -->
            <form action="/admin/delete/<%= movies[i].id %>" method="POST">
                <button type="submit"> Delete</button>
            </form>
            <form action="/admin/get-details/<%= movies[i].id %>" method="POST">
                <button type="submit"> Details</button>
            </form>
          </div>
          <% } %>

</body>
</html>